doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    video()
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js')
    script(type='text/javascript', src='/javascripts/app.js')
