doctype html
html
  head
    title= title
  body
    button(id='pushme', is='google-cast-button') Do The Needful
    button(id='reload') Reload remote app
    pre(id='debugmessage')
    script(type='text/javascript', src='https://www.gstatic.com/cv/js/sender/v1/cast_sender.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/client.js')
